@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;600;&display=swap");

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    margin-left: -80px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* 
List of colors used 

tooltip background : lightgray 
tooltip border: darkgray 
text: black 

*/
