/* Write your CSS here */
*{
    background-color: cyan;
}
#square{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 20px;
}

#circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    margin: 20px;
}